<?xml version="1.0" encoding="utf-8" ?>
<theme>
   <buildings>
	<include path="Config\themes\default\building.residential.json"/>
	<include path="Config\themes\default\building.part.json"/>
  </buildings>
  <roads>
	<include path="Config\themes\default\road.default.json"/>
  </roads>
  <infos>
	<include path="Config\themes\default\info.default.json"/>
  </infos>
</theme>