<?xml version="1.0" encoding="utf-8" ?>
<styles>
  <configs>
	<!-- actually, we have the same relative path issue for production code -->
    <config include="../../../TestAssets/Buildings/Styles/berlin.xml" location="file" optional="false" />
	<config include="../../../TestAssets/Buildings/Styles/minsk.xml" location="file" optional="false" />
  </configs>
</styles>