<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configs>
    <!-- app startup configuration -->
    <config include="test.settings.config" location="file" optional="false" />

    <!-- overrides -->
    <config include="test.stubs.config" location="file" optional="false" />
    <!-- overrides some values defined in configs above-->

  </configs>
</configuration>