<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configs>
    <!-- app startup configuration -->
    <config include="test.boot.config" location="file" optional="false" />
    <!-- zone load configuration -->
    <config include="test.zone.config" location="file" optional="false" />
    <!-- scene rendering configuration -->
    <config include="test.scene.config" location="file" optional="false" />


    <config include="test.stubs.config" location="file" optional="false" />
  </configs>
</configuration>