<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configs>
    <!-- app startup configuration -->
    <config include="..\..\..\..\..\Config\app.boot.config" location="file" optional="false" />
    <!-- zone load configuration -->
    <config include="..\..\..\..\..\Config\app.zone.config" location="file" optional="false" />
    <!-- scene rendering configuration -->
    <config include="..\..\..\..\..\Config\app.scene.config" location="file" optional="false" />
    <!-- osm configuration -->
    <config include="..\..\..\..\..\Config\app.osm.config" location="file" optional="false" />

    <config include="test.stubs.config" location="file" optional="false" />
    <!-- overrides some values defined in configs above-->
    <config include="test.merge.config" location="file" optional="false" />
  </configs>
</configuration>