<?xml version="1.0" encoding="utf-8" ?>
<settings environment="test">
  <system>
    <bootstrapping type="Mercraft.Infrastructure.Bootstrap.BootstrapperService, Mercraft.Infrastructure">
      <bootstrappers>
        <bootstrapper name="infrastructure" type="Mercraft.Explorer.Bootstrappers.InfrastructureBootstrapper, Mercraft.Explorer">
          <log type="Mercraft.Infrastructure.Diagnostic.DefaultTrace, Mercraft.Infrastructure" />
        </bootstrapper>
      </bootstrappers>
    </bootstrapping>
  </system>
  <zone>
    <loader type="Mercraft.Maps.UnitTests.Zones.Stubs.TestZoneLoader, Mercraft.Maps.UnitTests" />
    <floor type="Mercraft.Maps.UnitTests.Explorer.Stubs.TestFloorBuilder, Mercraft.Maps.UnitTests" />
    <builders>
      <builder name="building" type="Mercraft.Maps.UnitTests.Explorer.Stubs.TestBuildingModelVisitor, Mercraft.Maps.UnitTests"/> 
    </builders>
  </zone>
  <osm>
    <dataSourceProvider type="Mercraft.Maps.Osm.Data.DefaultDataSourceProvider, Mercraft.Maps.Osm">
      <file xml="true">..\..\..\TestAssets\berlin_house.osm.xml</file>
    </dataSourceProvider>
  </osm>
</settings>