<?xml version="1.0" encoding="utf-8" ?>
<settings environment="test">
  <zone>
    <floor type="Mercraft.Maps.UnitTests.Explorer.Stubs.TestFloorBuilder, Mercraft.Maps.UnitTests" />
    <builders>
      <builder name="building" type="Mercraft.Maps.UnitTests.Explorer.Stubs.TestBuildingModelVisitor, Mercraft.Maps.UnitTests"/> 
    </builders>
  </zone>
</settings>