<?xml version="1.0" encoding="utf-8" ?>
<settings environment="test">
  <system>
    <bootstrapping type="Mercraft.Infrastructure.Bootstrap.BootstrapperService, Mercraft.Infrastructure">
      <bootstrappers>
        <bootstrapper name="infrastructure" type="Mercraft.Explorer.Bootstrappers.InfrastructureBootstrapper, Mercraft.Explorer">
          <log type="Mercraft.Infrastructure.Diagnostic.DefaultTrace, Mercraft.Infrastructure" />
        </bootstrapper>
      </bootstrappers>
    </bootstrapping>
  </system>
  <zone>
    <loader type="Mercraft.Maps.UnitTests.Zones.Stubs.TestZoneLoader, Mercraft.Maps.UnitTests" />
    <listeners>
      <zone type="Mercraft.Maps.UnitTests.Zones.Stubs.TestZoneListener, Mercraft.Maps.UnitTests" />
      <tile type="Mercraft.Maps.UnitTests.Zones.Stubs.TestTileListener, Mercraft.Maps.UnitTests" />
    </listeners>
  </zone>
  <scene>
    <stylesheet type="Mercraft.Core.MapCss.StylesheetProvider, Mercraft.Core">
      <path>..\..\..\..\..\Config\mapcss\default.mapcss</path>
    </stylesheet>
  </scene>
  <osm>
    <dataSourceProvider type="Mercraft.Maps.Osm.Data.DefaultElementSourceProvider, Mercraft.Maps.Osm">
      <file xml="true">..\..\..\TestAssets\osm\berlin_house.osm.xml</file>
    </dataSourceProvider>
  </osm>
</settings>