<?xml version="1.0" encoding="utf-8" ?>
<settings environment="test">
  <scene>
	<stylesheet type="Mercraft.Core.MapCss.StylesheetProvider, Mercraft.Core">
		<path>Config\mapcss\default.mapcss</path>
	</stylesheet>
	<builders>
		<builder name="building" type="Mercraft.Explorer.Builders.BuildingModelBuilder, Mercraft.Explorer">
			<render mode="box" theme="berlin" />
		</builder>
		<builder name="solid" type="Mercraft.Explorer.Builders.SolidModelBuilder, Mercraft.Explorer"/>
		<builder name="flat" type="Mercraft.Explorer.Builders.FlatModelBuilder, Mercraft.Explorer"/>
		<builder name="sphere" type="Mercraft.Explorer.Builders.SphereModelBuilder, Mercraft.Explorer"/>
		<builder name="cylinder" type="Mercraft.Explorer.Builders.CylinderModelBuilder, Mercraft.Explorer"/>
	</builders>
	<behaviours>
		<behaviour name="solid" type="Mercraft.Explorer.Interactions.CompositeModelBehaviour, Mercraft.Explorer">
			<scripts>
				<include type="Assets.Scripts.Map.DestroyableObject, Assembly-CSharp" />
				<include type="Assets.Scripts.Map.LocationInfoHolder, Assembly-CSharp" />
			</scripts>
		</behaviour>
	</behaviours>
  </scene>
</settings>