<?xml version="1.0" encoding="utf-8" ?>
<settings environment="test">
  <zone>
    <scene type="Mercraft.Maps.Osm.OsmSceneBuilder, Mercraft.Maps.Osm" />
    <provider type="Mercraft.Core.Tiles.TileProvider, Mercraft.Core">
      <tile size="1000" offset="10" />
    </provider>
    <loader type="Mercraft.Core.Zones.ZoneLoader, Mercraft.Core">
      <offset>0</offset>
	  <position latitude="52.531036" longitude="13.384866" />
    </loader>
	<listeners>
		<zone type="Assets.Scripts.Demo.DemoZoneListener, Assembly-CSharp" />
		<tile type="Assets.Scripts.Demo.DemoTileListener, Assembly-CSharp" />
	</listeners>
  </zone>
</settings>