<?xml version="1.0" encoding="utf-8" ?>
<settings environment="test">
  <scene>
	<!-- mapcss provider. Mapcss defines which elements are processed and what to use for them -->
	<stylesheet type="Mercraft.Core.MapCss.StylesheetProvider, Mercraft.Core">
		<path>Config\themes\default\default.mapcss</path>
	</stylesheet>
	<builders>
		<builder name="building" type="Mercraft.Explorer.Builders.BuildingModelBuilder, Mercraft.Explorer" />
		<builder name="solid" type="Mercraft.Explorer.Builders.SolidModelBuilder, Mercraft.Explorer"/>
		<builder name="flat" type="Mercraft.Explorer.Builders.FlatModelBuilder, Mercraft.Explorer"/>
		<builder name="sphere" type="Mercraft.Explorer.Builders.SphereModelBuilder, Mercraft.Explorer"/>
		<builder name="cylinder" type="Mercraft.Explorer.Builders.CylinderModelBuilder, Mercraft.Explorer"/>
	</builders>
	<behaviours>
		<behaviour name="solid" type="Mercraft.Explorer.Interactions.CompositeModelBehaviour, Mercraft.Explorer">
			<scripts>
				<include type="Assets.Scripts.Map.DestroyableObject, Assembly-CSharp" />
				<include type="Assets.Scripts.Map.LocationInfoHolder, Assembly-CSharp" />
			</scripts>
		</behaviour>
	</behaviours>
	<world>
		<terrain type="Mercraft.Models.Terrain.TerrainBuilder, Mercraft.Models" />
		<roads>
			<builder type="Mercraft.Models.Roads.RoadBuilder, Mercraft.Models" />
			<style type="Mercraft.Explorer.Themes.RoadStyleProvider, Mercraft.Explorer" />
		</roads>
		<buildings>
			<builder type="Mercraft.Models.Buildings.BuildingBuilder, Mercraft.Models" />
			<style type="Mercraft.Explorer.Themes.BuildingStyleProvider, Mercraft.Explorer" />
			<builders>
				<facades>
					<include name="flat" type="Mercraft.Models.Buildings.Facades.FlatFacadeBuilder, Mercraft.Models" />
				</facades>
				<roofs>
					<include name="flat" type="Mercraft.Models.Buildings.Roofs.FlatRoofBuilder, Mercraft.Models" />
				</roofs>
			</builders>
		</buildings>
	</world>
  </scene>
</settings>