<?xml version="1.0" encoding="utf-8" ?>
<settings environment="test">
  <system>
    <bootstrapping type="Mercraft.Infrastructure.Bootstrap.BootstrapperService, Mercraft.Infrastructure">
      <bootstrappers>
        <bootstrapper name="infrastructure" type="Mercraft.Explorer.Bootstrappers.InfrastructureBootstrapper, Mercraft.Explorer">
          <log type="Assets.Scripts.Console.DebugConsoleTrace, Assembly-CSharp" />
		  <goFactory type="Mercraft.Explorer.Infrastructure.GameObjectFactory, Mercraft.Explorer" />
        </bootstrapper>
        <bootstrapper name="osm" path="osm" type="Mercraft.Explorer.Bootstrappers.OsmBootstrapper, Mercraft.Explorer" />
        <bootstrapper name="zone" path="zone" type="Mercraft.Explorer.Bootstrappers.ZoneBootstrapper, Mercraft.Explorer" />
        <bootstrapper name="scene" path="scene" type="Mercraft.Explorer.Bootstrappers.SceneBootstrapper, Mercraft.Explorer" />
      </bootstrappers>
    </bootstrapping>
  </system>
</settings>