<?xml version="1.0" encoding="utf-8" ?>
<settings environment="test">
  <scene>
    <meshes>
      <builders>
        <!-- mesh builders -->
        <!-- NOTE these types doesn't have some base interface -->
         <builder name="polygon" type="Mercraft.Explorer.Meshes.PolygonMeshBuilder, Mercraft.Explorer" map="Mercraft.Explorer.Meshes.PolygonMeshBuilder, Mercraft.Explorer"/>
      </builders>
      <!-- mesh renders -->
      <renders>
        <render name="default" type="Mercraft.Explorer.Render.DefaultMeshRenderer, Mercraft.Explorer">
			<material path="Materials/Concrete_Patterned" />
        </render>
      </renders>     
    </meshes>
  </scene>
</settings>