<?xml version="1.0" encoding="utf-8" ?>
<settings environment="test">
  <zone>
    <scene type="Mercraft.Maps.Osm.OsmSceneBuilder, Mercraft.Maps.Osm" />
    <provider type="Mercraft.Core.Tiles.TileProvider, Mercraft.Core">
      <tile size="200" offset="10" />
    </provider>
    <loader type=" Mercraft.Core.Zones.ZoneLoader, Mercraft.Core">
	  <!-- ignored so far -->
      <offset>0</offset>
    </loader>
    <gameObjectBuilder type="Mercraft.Explorer.GameObjectBuilder, Mercraft.Explorer" />
  </zone>
</settings>