<?xml version="1.0" encoding="utf-8" ?>
<settings environment="test">
  <scene>
	<stylesheet type="Mercraft.Core.MapCss.StylesheetProvider, Mercraft.Core">
		<path>Config\default.mapcss</path>
	</stylesheet>
	<builders>
		<builder name="solid" type="Mercraft.Explorer.Builders.Areas.SolidAreaBuilder, Mercraft.Explorer"/>
	</builders>
  </scene>
</settings>