<?xml version="1.0" encoding="utf-8" ?>
<settings environment="test">
  <zone>
    <scene type="Mercraft.Maps.Osm.OsmSceneBuilder, Mercraft.Maps.Osm" />
    <provider type="Mercraft.Core.Tiles.TileProvider, Mercraft.Core">
      <tile size="1000" offset="10" />
    </provider>
    <loader type=" Mercraft.Core.Zones.ZoneLoader, Mercraft.Core">
	  <!-- ignored so far -->
      <offset>0</offset>
    </loader>
    <!-- model visitors -->
    <visitors>
	  <visitor name="default" type="Mercraft.Explorer.SceneModelVisitor, Mercraft.Explorer"  />
    </visitors>
  </zone>
</settings>