<?xml version="1.0" encoding="utf-8" ?>
<settings environment="test">
  <zone>
    <scene type="Mercraft.Maps.Osm.OsmSceneBuilder, Mercraft.Maps.Osm" />
    <provider type="Mercraft.Core.Tiles.TileProvider, Mercraft.Core">
      <tile size="1000" offset="10" />
    </provider>
    <loader type=" Mercraft.Core.Zones.ZoneLoader, Mercraft.Core">
	  <!-- ignored so far -->
      <offset>0</offset>
    </loader>
    <!-- model builders -->
    <builders>
	  <builder name="canvas" type="Mercraft.Explorer.GameObjects.CanvasModelVisitor, Mercraft.Explorer"  />
      <builder name="building" type="Mercraft.Explorer.GameObjects.AreaModelVisitor, Mercraft.Explorer" />
      <builder name="way" type="Mercraft.Explorer.GameObjects.WayModelVisitor, Mercraft.Explorer"  />
    </builders>
  </zone>
</settings>