<?xml version="1.0" encoding="utf-8" ?>
<settings environment="test">
  <scene>
	<stylesheet type="Mercraft.Core.MapCss.StylesheetProvider, Mercraft.Core">
		<path>Config\default.mapcss</path>
	</stylesheet>
    <meshes>
      <builders>
      <!-- mesh builders -->
         <builder name="polygon" type="Mercraft.Explorer.Meshes.PolygonMeshBuilder, Mercraft.Explorer"/>
      </builders>
      <!-- mesh renders -->
      <renders>
        <render name="default" type="Mercraft.Explorer.Render.DefaultMeshRenderer, Mercraft.Explorer" />
      </renders>     
    </meshes>
  </scene>
</settings>