<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configs>
    <!-- app startup configuration -->
    <config include="app.boot.config" location="file" optional="false" />
    <!-- zone load configuration -->
    <config include="app.zone.config" location="file" optional="false" />
    <!-- scene rendering configuration -->
    <config include="app.scene.config" location="file" optional="false" />
    <!-- osm configuration -->
    <config include="app.osm.config" location="file" optional="false" />
  </configs>
</configuration>