<?xml version="1.0" encoding="utf-8" ?>
<settings environment="test">
  <osm>
    <dataSourceProvider type="Mercraft.Maps.Osm.Data.DefaultElementSourceProvider, Mercraft.Maps.Osm">
      <file xml="true">Projects\Tests\TestAssets\berlin_house.osm.xml</file>
    </dataSourceProvider>
  </osm>
</settings>