<?xml version="1.0" encoding="utf-8" ?>
<styles>
  <configs>
	<!-- actually, we have the same relative path issue for production code -->
    <config include="Assets\Resources\Buildings\Config\styles\berlin.xml" location="file" optional="false" />
	<config include="Assets\Resources\Buildings\Config\styles\minsk.xml" location="file" optional="false" />
  </configs>
</styles>