<?xml version="1.0" encoding="utf-8" ?>
<settings environment="test">

	<!-- map data path -->
	<mapdata>f:\Downloads</mapdata>
	
	<!-- elevation data path -->
	<elevationdata>f:\___elevation\TestData</elevationdata>
	
	<!-- theme config path -->
	<theme>Config\themes\default\theme.config</theme>
	
	<!-- mapcss file path -->
	<mapcss>Config\themes\default\default.mapcss</mapcss>
	
	<!-- tile settings -->
	<!--<tile size="500" offset="50" latitude="52.5162348" longitude="13.3775136" />-->
	<tile size="1000" offset="50" latitude="52.51926" longitude="13.40544" />
	
</settings>