<?xml version="1.0" encoding="utf-8" ?>
<settings environment="test">

	<!-- map data path -->
	<mapdata>f:\Downloads\</mapdata>
	
	<!-- elevation data path -->
	<elevationdata>f:\___elevation\TestData</elevationdata>
	
	<!-- theme config path -->
	<theme>Config\themes\default\theme.config</theme>
	
	<!-- mapcss file path -->
	<mapcss>Config\themes\default\default.mapcss</mapcss>
	
	<!-- tile settings -->
	<tile size="500" offset="50" heightmap="513" latitude="52.52985" longitude="13.38825" />
	
</settings>