<?xml version="1.0" encoding="utf-8" ?>
<settings environment="test">

	<!-- map data path -->
	<mapdata>Maps\osm</mapdata>
	
	<!-- elevation data path -->
	<elevationdata>Maps\elevation</elevationdata>
	
	<!-- theme config path -->
	<theme>Config\themes\default\theme.config</theme>
	
	<!-- mapcss file path -->
	<mapcss>Config\themes\default\default.mapcss</mapcss>
	
	<!-- tile settings -->
	<tile size="1000" offset="50 " latitude="52.53168" longitude="13.38828" />
	
</settings>