<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configs>
  	<config include="..\..\..\..\Tests\TestAssets\Themes\buildings.xml" location="file" optional="false" />
	<config include="..\..\..\..\Tests\TestAssets\Themes\roads.xml" location="file" optional="false" />
  </configs>
</configuration>