<?xml version="1.0" encoding="utf-8" ?>
<theme>
   <buildings>
	<include path=".\..\..\..\TestAssets\Themes\building.residential.json"/>
  </buildings>
   <roads>
	<include path=".\..\..\..\TestAssets\Themes\road.default.json"/>
  </roads>
  <infos>
	<include path=".\..\..\..\TestAssets\Themes\info.default.json"/>
  </infos>
</theme>